@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply min-h-screen antialiased;
  background-color: #05080f;
  color: #e2e8f0;
  font-family: 'Satoshi', sans-serif;
}
